.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: clamp(1.19rem, 6vw, 6.25rem);

    .about-collapse {
        margin: 2.38rem 6.78rem;

    }
}

/*Media queries*/
@media screen and (max-width: 767px) {
    .about-container {

        .banner {
            aspect-ratio: 21/13.9;
        }

        .about-collapse {
            margin: 1.19rem 0;
        }
    }
}