.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 6.25rem;

    .housings {
        background-color: #F6F6F6;
        border-radius: 1.56rem;
    }
}