.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    aspect-ratio: 77.5/25.9;
    padding: 1.56rem;

    &-item {
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 1.56rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 500ms ;

        // Opacité à 1 pour que l'image active du carrousel s'affiche
        &-active {
            opacity: 1;
        }
    }

    &-controls {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-counter {
        position: absolute;
        bottom: 1.56rem;
        color: white;
        font-size: 1.125rem;
        text-align: center;
    }
}

// Media queries
@media screen and (max-width: 767px) {
    .carousel {
        aspect-ratio: 20.9/15.9;
        padding: 0.36rem;

        .left-arrow, .right-arrow {
            width: 1.5rem;
            height: 1.5rem;
        }

        // Pas d'affichage du compteur en version mobile
        &-counter {
            display: none;
        }
    }
}